body, html {
	height: 100%;
	overflow: hidden;
}
.navbar-inner {
	height: 40px;
}
.scrollable {
	height: 100%;
	overflow: auto;
}
.max-height {
	height: 100%;
}
.max-height-500 {
	height: 200px;
}
.no-overflow {
	overflow: hidden;
}
.pad40-top {
	padding-top: 40px;
}
